@font-face {
  src: local("ProximaNova-Light"), local("ProximaNova Light");
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-Regular"), local("ProximaNova Regular");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-SemiBold"), local("ProximaNova SemiBold");
  src: url("../fonts/ProximaNova-SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiBold.woff") format("woff"), url("../fonts/ProximaNova-SemiBold.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-Bold"), local("ProximaNova Bold");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-ExtraBld"), local("ProximaNova ExtraBld");
  src: url("../fonts/ProximaNova-ExtraBld.woff2") format("woff2"), url("../fonts/ProximaNova-ExtraBld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-ExtraBld.woff") format("woff"), url("../fonts/ProximaNova-ExtraBld.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
  background-color: #F5F5F5;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.alertify-notifier .ajs-message.ajs-warning {
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
  background: #fff;
}

.alertify-notifier .ajs-message.ajs-success {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: rgba(40, 136, 62, 0.9);
}

.alertify-notifier {
  z-index: 99998;
}

.btn {
  background-color: #F18823;
  color: #090909;
  padding: 18px 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s background-color, .3s color, .3s border-color;
  transition: .3s background-color, .3s color, .3s border-color;
  border: 1px solid #F18823;
}

.btn:hover {
  background-color: #BC731E;
  color: #fff;
}

.btn_transparent {
  background-color: transparent;
  color: #F18823;
}

.btn_transparent:hover {
  background-color: #F18823;
  color: #090909;
  border-color: #F18823;
}

.btn_gray {
  background-color: transparent;
  border-color: #090909;
  color: #090909;
}

.h1 {
  font-size: 42px;
  font-weight: 800;
  color: #090909;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  color: #090909;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  color: #090909;
}

.link {
  font-size: 21px;
}

.title {
  font-size: 16px;
  line-height: 100%;
}

.p1 {
  font-size: 20px;
}

input, textarea {
  font-family: "ProximaNova", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
}

.input {
  border-bottom: 1px solid #474746;
  color: #000;
  -webkit-transition: .3s border-color;
  transition: .3s border-color;
  padding: 12px 0;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
}

.input-wrapper {
  position: relative;
}

.input-wrapper.active .input-text {
  font-size: 12px;
  top: -10px;
  left: 0;
}

.input-wrapper.invalid .input {
  border-color: #FF3333;
}

.input-wrapper.invalid .input-warning {
  opacity: 1;
  visibility: visible;
}

.input-text {
  position: absolute;
  top: 13px;
  left: 0;
  color: #474746;
  pointer-events: none;
  -webkit-transition: .3s font-size, .3s top, .3s left;
  transition: .3s font-size, .3s top, .3s left;
  white-space: nowrap;
}

.input:hover, .input:focus {
  border-color: #F18823;
}

.input:focus ~ .input-text, .input:-webkit-autofill ~ .input-text {
  font-size: 12px;
  top: -10px;
  left: 0;
}

.input-warning {
  color: #FF3333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity, .3s visibility;
  transition: .3s opacity, .3s visibility;
}

.input-star {
  margin: 7px 0;
  font-size: 12px;
}

.header-top {
  padding: 25px 0 15px 0;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
}

.header-phone {
  color: #F18823;
}

.header-email {
  color: #090909;
}

.header-menu {
  background-color: rgba(249, 179, 60, 0.3);
  padding: 20px 0;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__item {
  color: #565656;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.header-menu__item::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F18823;
  width: 0;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.header-menu__item:hover {
  color: #F18823;
}

.header-menu__item:hover::after {
  width: 100%;
}

.header-lang {
  text-transform: uppercase;
  font-size: 20px;
  color: #090909;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.header-lang:hover {
  color: #F18823;
}

.footer {
  background-color: #F18823;
  padding: 50px 0;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-copyright {
  font-weight: 300;
  margin-bottom: 15px;
}

.footer-policy {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 260px;
}

.footer-address {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

.footer-phone {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-email {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.footer-dev {
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
}

.item {
  background-color: #F5F5F5;
}

.item-img {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 0px 1px #565656 inset;
          box-shadow: 0px 0px 0px 1px #565656 inset;
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-transition: .3s box-shadow;
  transition: .3s box-shadow;
}

.item-img__sizer {
  padding-bottom: 88%;
}

.item-title {
  margin-bottom: 10px;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.item-text {
  color: #565656;
  margin-bottom: 10px;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.item-specs {
  color: #565656;
}

.item:hover .item-img {
  -webkit-box-shadow: 0px 0px 0px 4px #F18823 inset;
          box-shadow: 0px 0px 0px 4px #F18823 inset;
}

.item:hover .item-text {
  color: #090909;
}

.item:hover .item-title {
  color: #F18823;
}

.slider-arrow {
  cursor: pointer;
  fill: #474746;
  -webkit-transition: .3s fill;
  transition: .3s fill;
}

.slider-arrow:hover {
  fill: #F18823;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.app-main {
  width: 50%;
  background-color: rgba(249, 179, 60, 0.3);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: calc((100% - 1140px) / 2);
}

.app-title {
  margin-bottom: 20px;
}

.app-dec {
  position: absolute;
  right: 30px;
  bottom: -50px;
}

.app-text {
  color: #474746;
  margin-bottom: 30px;
}

.app-input {
  margin-bottom: 15px;
}

.app-input:last-child {
  margin-bottom: 0;
}

.app-img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.app-img__sizer {
  padding-bottom: 73.8%;
}

.app-submit {
  display: inline-block;
}

.policy {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy img {
  margin-right: 15px;
}

.policy a {
  color: #F18823;
  text-decoration: underline;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #565656;
  padding-top: 30px;
  padding-bottom: 60px;
}

.breadcrumbs-item {
  color: #565656;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.breadcrumbs-item.inactive {
  color: #F18823;
}

.breadcrumbs-item:hover {
  color: #F18823;
}

.breadcrumbs-dec {
  margin: 0 5px;
}

.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.hero::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  top: 0;
  left: 0;
  display: block;
  content: '';
}

.hero-container {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 180px;
}

.hero-title {
  color: #fff;
  max-width: 550px;
  margin-bottom: 20px;
}

.hero-text {
  max-width: 550px;
  margin-bottom: 30px;
}

.hero-dec {
  position: absolute;
  right: 0;
  bottom: -80px;
}

.production {
  padding: 160px 0;
}

.production-title {
  margin-bottom: 50px;
}

.production-btn {
  text-align: center;
  margin-top: 50px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.about-img__sizer {
  padding-bottom: 63.8%;
}

.about-main {
  margin-top: 100px;
  width: 50%;
  background-color: rgba(249, 179, 60, 0.3);
  padding-left: 130px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-right: calc((100% - 1140px) / 2);
  position: relative;
}

.about-main::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 120px;
  background-color: rgba(249, 179, 60, 0.3);
  left: -120px;
  top: 0;
}

.about-dec {
  position: absolute;
  top: -160px;
  right: 160px;
}

.about-title {
  margin-bottom: 50px;
}

.about-text {
  margin-bottom: 30px;
}

.about-text p {
  margin-bottom: 15px;
}

.about-text p:last-child {
  margin-bottom: 0;
}

.gallery {
  padding-top: 60px;
  padding-bottom: 120px;
}

.gallery-title {
  margin-bottom: 50px;
}

.gallery-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-item__sizer {
  padding-bottom: 100%;
}

.gallery-slider__wrapper {
  position: relative;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery-arrow__left {
  left: -34px;
}

.gallery-arrow__right {
  right: -34px;
}

.catalog {
  padding-bottom: 120px;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 95px;
}

.contacts {
  padding-bottom: 60px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-main {
  width: 100%;
  max-width: 360px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-title {
  margin-bottom: 50px;
}

.contacts-address {
  font-weight: 300;
  margin-bottom: 15px;
  max-width: 280px;
}

.contacts-schedule {
  color: #565656;
  margin-bottom: 25px;
}

.contacts-phone {
  color: #F18823;
  margin-bottom: 10px;
}

.contacts-email {
  color: #F18823;
}

.contacts-map {
  width: 100%;
  height: 350px;
  border: 1px solid #FF3333;
}
