@font-face {
  src: local("ProximaNova-Light"), local("ProximaNova Light");
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-Regular"), local("ProximaNova Regular");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-SemiBold"), local("ProximaNova SemiBold");
  src: url("../fonts/ProximaNova-SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiBold.woff") format("woff"), url("../fonts/ProximaNova-SemiBold.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-Bold"), local("ProximaNova Bold");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: local("ProximaNova-ExtraBld"), local("ProximaNova ExtraBld");
  src: url("../fonts/ProximaNova-ExtraBld.woff2") format("woff2"), url("../fonts/ProximaNova-ExtraBld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-ExtraBld.woff") format("woff"), url("../fonts/ProximaNova-ExtraBld.ttf") format("truetype");
  font-family: "ProximaNova";
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
  background-color: #F5F5F5;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.alertify-notifier .ajs-message.ajs-warning {
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
  background: #fff;
}

.alertify-notifier .ajs-message.ajs-success {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: rgba(40, 136, 62, 0.9);
}

.alertify-notifier {
  z-index: 99998;
}

.btn {
  background-color: #F18823;
  color: #090909;
  padding: 18px 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s background-color, .3s color, .3s border-color;
  transition: .3s background-color, .3s color, .3s border-color;
  border: 1px solid #F18823;
}

.btn:hover {
  background-color: #BC731E;
  color: #fff;
}

.btn_transparent {
  background-color: transparent;
  color: #F18823;
}

.btn_transparent:hover {
  background-color: #F18823;
  color: #090909;
  border-color: #F18823;
}

.btn_gray {
  background-color: transparent;
  border-color: #090909;
  color: #090909;
}

@media (max-width: 800px) {
  .btn {
    padding: 15px 25px;
  }
}

.h1 {
  font-size: 42px;
  font-weight: 800;
  color: #090909;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  color: #090909;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  color: #090909;
}

.link {
  font-size: 21px;
}

.title {
  font-size: 16px;
  line-height: 100%;
}

.p1 {
  font-size: 20px;
}

@media (max-width: 1400px) {
  .h1 {
    font-size: 34px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 24px;
  }
  .link {
    font-size: 19px;
  }
  .title {
    font-size: 15px;
  }
  .p1 {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .h1 {
    font-size: 28px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 22px;
  }
  .link {
    font-size: 18px;
  }
  .p1 {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 22px;
  }
  .h3 {
    font-size: 20px;
  }
  .link {
    font-size: 17px;
  }
  .p1 {
    font-size: 16px;
  }
}

input, textarea {
  font-family: "ProximaNova", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
}

.input {
  border-bottom: 1px solid #474746;
  color: #000;
  -webkit-transition: .3s border-color;
  transition: .3s border-color;
  padding: 12px 0;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
}

.input-wrapper {
  position: relative;
}

.input-wrapper.active .input-text {
  font-size: 12px;
  top: -10px;
  left: 0;
}

.input-wrapper.invalid .input {
  border-color: #FF3333;
}

.input-wrapper.invalid .input-warning {
  opacity: 1;
  visibility: visible;
}

.input-text {
  position: absolute;
  top: 13px;
  left: 0;
  color: #474746;
  pointer-events: none;
  -webkit-transition: .3s font-size, .3s top, .3s left;
  transition: .3s font-size, .3s top, .3s left;
  white-space: nowrap;
}

.input:hover, .input:focus {
  border-color: #F18823;
}

.input:focus ~ .input-text, .input:-webkit-autofill ~ .input-text {
  font-size: 12px;
  top: -10px;
  left: 0;
}

.input-warning {
  color: #FF3333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity, .3s visibility;
  transition: .3s opacity, .3s visibility;
}

.input-star {
  margin: 7px 0;
  font-size: 12px;
}

.type-container {
  padding-bottom: 130px;
}

.type-container p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 150%;
}

.type-container h1, .type-container h2, .type-container h3, .type-container h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.type-container h1 {
  font-size: 40px;
  margin-top: 30px;
}

.type-container h2 {
  font-size: 30px;
  margin-top: 25px;
}

.type-container h3 {
  font-size: 24px;
  margin-top: 20px;
}

.type-container h4 {
  font-size: 20px;
  margin-top: 15px;
}

.type-container h5 {
  margin-top: 15px;
}

.type-container ul, .type-container ol {
  margin-top: 25px;
}

.type a {
  color: #000;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.type a:hover {
  color: #F18823;
}

.type .bold {
  font-weight: 700;
}

.type .small {
  font-size: 16px;
}

.type .center {
  text-align: center;
}

.type .uc {
  text-transform: uppercase;
}

.type ul, .type ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.type ul li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
}

.type ul li:last-child {
  margin-bottom: 0;
}

.type ul li::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 3px;
  background-color: #F18823;
  left: 2px;
  top: 9px;
}

.type ul li span {
  color: #F18823;
}

.type ul.white li {
  color: #fff;
}

.type ul.white li::after {
  background-color: #fff;
}

.type ul.reverse li {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

.type ul.reverse li::after {
  left: auto;
  right: 2px;
}

.type ol {
  counter-reset: section;
}

.type ol > li {
  padding-left: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.type ol > li:last-child {
  margin-bottom: 0;
}

.type ol > li::before {
  position: absolute;
  left: 0;
  top: 0;
  counter-increment: section;
  content: counter(section);
  color: #F18823;
}

.type .table {
  overflow: auto;
  margin-top: 30px;
}

.type table {
  width: 100%;
  font-size: 16px;
  border-spacing: 0;
  min-width: 600px;
}

.type table th {
  background-color: rgba(249, 179, 60, 0.3);
  padding: 20px 30px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.type table tr td {
  padding: 20px 30px;
  font-size: 16px;
  border-top: none;
}

.type table tr td:nth-child(n + 2) {
  border-left: none;
}

@media (max-width: 1450px) {
  .type ul li::after {
    top: 8px;
  }
  .type-container {
    padding-bottom: 100px;
  }
  .type-container p {
    margin-top: 10px;
    font-size: 18px;
  }
  .type-container h1 {
    font-size: 36px;
    margin-top: 25px;
  }
  .type-container h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  .type-container h3 {
    font-size: 22px;
    margin-top: 15px;
  }
  .type-container h4 {
    font-size: 20px;
    margin-top: 10px;
  }
  .type-container h5 {
    margin-top: 10px;
  }
  .type-container ul, .type-container ol {
    margin-top: 15px;
    font-size: 18px;
  }
  .type-container ol {
    margin-top: 20px;
  }
  .type ul li {
    padding-left: 25px;
    margin-bottom: 15px;
  }
  .type ul.reverse li {
    padding-right: 25px;
  }
  .type ol > li {
    padding-left: 55px;
    margin-bottom: 15px;
    min-height: 40px;
  }
  .type ol > li::before {
    width: 40px;
    height: 40px;
  }
  .type table {
    font-size: 16px;
    margin-top: 15px;
  }
  .type table th {
    padding: 15px 20px;
    font-size: 16px;
  }
  .type table tr td {
    padding: 15px 20px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .type-container {
    padding-bottom: 50px;
  }
  .type-container h1 {
    font-size: 28px;
    margin-top: 20px;
  }
  .type-container h2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .type-container h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .type-container h4 {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .type-container {
    padding-bottom: 40px;
  }
  .type-container p {
    font-size: 16px;
  }
  .type-container h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  .type-container h2 {
    font-size: 22px;
    margin-top: 15px;
  }
  .type-container h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .type-container h4 {
    font-size: 17px;
    margin-top: 10px;
  }
}

.header-top {
  padding: 25px 0 15px 0;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
}

.header-phone {
  color: #F18823;
}

.header-email {
  color: #090909;
}

.header-menu {
  background-color: rgba(249, 179, 60, 0.3);
  padding: 20px 0;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__item {
  color: #565656;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.header-menu__item::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F18823;
  width: 0;
  -webkit-transition: .3s width;
  transition: .3s width;
}

.header-menu__item:hover {
  color: #F18823;
}

.header-menu__item:hover::after {
  width: 100%;
}

.header-lang {
  text-transform: uppercase;
  font-size: 20px;
  color: #090909;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.header-lang:hover {
  color: #F18823;
}

.header-burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 37px;
  height: 34px;
  margin-right: -10px;
  padding: 10px;
}

.header-burger div {
  height: 2px;
  background-color: #000;
}

.header-burger div:nth-child(2) {
  margin: 4px 0;
}

@media (max-width: 900px) {
  .header-top {
    padding: 12px 0;
  }
  .header-logo img {
    max-width: 250px;
  }
  .header-contacts {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 350px) {
  .header-logo img {
    max-width: 210px;
  }
}

.footer {
  background-color: #F18823;
  padding: 50px 0;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-copyright {
  font-weight: 300;
  margin-bottom: 15px;
}

.footer-policy {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 260px;
}

.footer-address {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

.footer-phone {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-email {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.footer-dev {
  font-size: 12px;
  text-align: right;
  margin-bottom: 5px;
}

@media (max-width: 1100px) {
  .footer {
    padding: 40px 0;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-copyright {
    margin-bottom: 10px;
  }
  .footer-address {
    margin-bottom: 20px;
  }
  .footer-phone {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer-email {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .footer {
    padding: 30px 0;
  }
  .footer-left {
    margin-bottom: 20px;
  }
  .footer-contacts {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-dev {
    text-align: left;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-address {
    margin-bottom: 15px;
  }
  .footer-phone {
    font-size: 16px;
  }
  .footer-email {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 25px 0;
  }
}

.item {
  background-color: #F5F5F5;
}

.item-img {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 0px 1px #565656 inset;
          box-shadow: 0px 0px 0px 1px #565656 inset;
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-transition: .3s box-shadow;
  transition: .3s box-shadow;
}

.item-img__sizer {
  padding-bottom: 88%;
}

.item-title {
  margin-bottom: 10px;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.item-text {
  color: #565656;
  margin-bottom: 10px;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.item-specs {
  color: #565656;
}

.item:hover .item-img {
  -webkit-box-shadow: 0px 0px 0px 4px #F18823 inset;
          box-shadow: 0px 0px 0px 4px #F18823 inset;
}

.item:hover .item-text {
  color: #090909;
}

.item:hover .item-title {
  color: #F18823;
}

@media (max-width: 1100px) {
  .item-img {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .item-img {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .item-img {
    margin-bottom: 15px;
  }
}

.slider-arrow {
  cursor: pointer;
  fill: #474746;
  -webkit-transition: .3s fill;
  transition: .3s fill;
}

.slider-arrow:hover {
  fill: #F18823;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.app-main {
  width: 50%;
  background-color: rgba(249, 179, 60, 0.3);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: calc((100% - 1140px) / 2);
}

.app-title {
  margin-bottom: 20px;
}

.app-dec {
  position: absolute;
  right: 30px;
  bottom: -50px;
}

.app-text {
  color: #474746;
  margin-bottom: 30px;
}

.app-input {
  margin-bottom: 15px;
}

.app-input:last-child {
  margin-bottom: 0;
}

.app-img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.app-img__sizer {
  padding-bottom: 73.8%;
}

.app-submit {
  display: inline-block;
}

.policy {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy img {
  margin-right: 15px;
}

.policy a {
  color: #F18823;
  text-decoration: underline;
  display: inline;
}

@media (max-width: 1170px) {
  .app {
    padding-bottom: 0;
  }
  .app-main {
    width: 100%;
    padding: 50px 15px;
  }
  .app-dec {
    display: none;
  }
  .app-img {
    display: none;
  }
  .app-title {
    margin-bottom: 15px;
  }
  .app-text {
    margin-bottom: 25px;
  }
  .app-input {
    margin-bottom: 10px;
  }
  .policy {
    margin: 20px 0;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .app-main {
    padding: 40px 15px;
  }
  .app-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .app-main {
    padding: 30px 15px;
  }
  .app-text {
    margin-bottom: 15px;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #565656;
  padding-top: 30px;
  padding-bottom: 60px;
}

.breadcrumbs-item {
  color: #565656;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.breadcrumbs-item.inactive {
  color: #F18823;
}

.breadcrumbs-item:hover {
  color: #F18823;
}

.breadcrumbs-dec {
  margin: 0 5px;
}

@media (max-width: 1100px) {
  .breadcrumbs {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .breadcrumbs {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  padding: 20px 20px 30px;
  background-color: #fff;
  -webkit-transition: 0.3s right;
  transition: 0.3s right;
}

.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.menu-logo img {
  max-width: 220px;
}

.menu-close {
  cursor: pointer;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  padding-bottom: 20px;
}

.menu-sublinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  font-size: 20px;
}

.menu-link {
  margin-bottom: 15px;
  font-weight: 400;
  color: #000;
}

.menu-link_big {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.menu-link:last-child {
  margin-bottom: 0;
}

.menu-sublink {
  margin-bottom: 10px;
  color: #000;
}

.menu-sublink:last-child {
  margin-bottom: 0;
}

.menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-phone, .menu-email {
  color: #000;
}

.menu-phone {
  margin-bottom: 10px;
}

.menu.active {
  right: 0;
}

.policy {
  color: #000;
}

.policy-wrapper {
  display: none;
  width: 1000px;
  max-width: 90%;
}

.policy-wrapper.fancybox-content {
  padding: 25px;
  background: #fff;
}

.policy-wrapper.fancybox-content button.fancybox-close-small {
  display: none;
}

.policy-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 40px;
  color: #000;
}

.policy-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
}

.policy-list {
  list-style: none;
  font-size: 16px;
  color: #000;
}

.policy-list__item {
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 12px;
  position: relative;
}

.policy-list__item::before {
  position: absolute;
  left: 7px;
  top: 7px;
  display: block;
  content: '';
  width: 3px;
  height: 3px;
  background-color: #FF3333;
  border-radius: 100%;
}

.policy-list__item:last-child {
  margin-bottom: 0;
}

.modal {
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 40px;
}

.modal-wrapper {
  display: none;
  width: 100%;
  max-width: 450px;
}

.modal-wrapper.fancybox-content {
  padding: 0;
}

.modal-wrapper.fancybox-content button.fancybox-close-small {
  display: none;
}

.modal-title {
  margin-bottom: 30px;
}

.modal-input {
  margin-bottom: 25px;
  width: 100%;
}

.modal-submit {
  width: 100%;
  border: none;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal-close__img {
  width: 30%;
}

.modal-btn {
  width: 100%;
}

.modal-policy {
  font-size: 12px;
  margin-bottom: 30px;
}

.modal-policy a {
  color: #000;
}

.modal-policy a::after {
  background-color: #000;
}

@media (max-width: 800px) {
  .modal {
    padding: 30px;
  }
  .modal-title {
    margin-bottom: 20px;
  }
  .modal-input {
    margin-bottom: 20px;
  }
  .modal-policy {
    margin-bottom: 20px;
  }
  .modal-close {
    width: 40px;
    height: 40px;
  }
  .modal-contacts {
    margin-bottom: 30px;
  }
  .policy-wrapper.fancybox-content {
    padding: 15px;
    padding-top: 40px;
  }
  .policy-title {
    margin-bottom: 20px;
  }
  .policy-list__item {
    padding-left: 15px;
  }
  .policy-list__item::before {
    left: 5px;
  }
}

@media (max-width: 500px) {
  .modal {
    padding: 25px 20px;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.hero::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  top: 0;
  left: 0;
  display: block;
  content: '';
}

.hero-container {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 180px;
}

.hero-title {
  color: #fff;
  max-width: 550px;
  margin-bottom: 20px;
}

.hero-text {
  max-width: 550px;
  margin-bottom: 30px;
}

.hero-dec {
  position: absolute;
  right: 0;
  bottom: -80px;
}

@media (max-width: 1100px) {
  .hero-container {
    padding: 90px 15px;
  }
  .hero-dec {
    display: none;
  }
  .hero-title {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .hero-container {
    padding: 60px 15px;
  }
}

@media (max-width: 500px) {
  .hero-container {
    padding: 40px 15px;
  }
  .hero-title, .hero-text {
    margin-bottom: 20px;
  }
}

.production {
  padding: 160px 0;
}

.production-title {
  margin-bottom: 50px;
}

.production-btn {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1100px) {
  .production {
    padding: 100px 0;
  }
  .production-title {
    margin-bottom: 40px;
  }
  .production-btn {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  .production {
    padding: 60px 0;
  }
  .production-title {
    margin-bottom: 30px;
  }
  .production-btn {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .production {
    padding: 40px 0;
  }
  .production-title {
    margin-bottom: 20px;
  }
  .production-btn {
    margin-top: 20px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-img {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.about-img__sizer {
  padding-bottom: 63.8%;
}

.about-main {
  margin-top: 100px;
  width: 50%;
  background-color: rgba(249, 179, 60, 0.3);
  padding-left: 130px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-right: calc((100% - 1140px) / 2);
  position: relative;
}

.about-main::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 120px;
  background-color: rgba(249, 179, 60, 0.3);
  left: -120px;
  top: 0;
}

.about-dec {
  position: absolute;
  top: -160px;
  right: 160px;
}

.about-title {
  margin-bottom: 50px;
}

.about-text {
  margin-bottom: 30px;
}

.about-text p {
  margin-bottom: 15px;
}

.about-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1500px) {
  .about-main {
    padding-left: 90px;
  }
  .about-dec {
    right: 100px;
  }
}

@media (max-width: 1200px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .about-main {
    width: 100%;
    margin-top: 0;
    padding: 40px 15px;
  }
  .about-title {
    margin-bottom: 30px;
  }
  .about-dec {
    display: none;
  }
}

@media (max-width: 500px) {
  .about-main {
    padding: 30px 15px;
  }
}

.gallery {
  padding-top: 60px;
  padding-bottom: 120px;
}

.gallery-title {
  margin-bottom: 50px;
}

.gallery-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-item__sizer {
  padding-bottom: 100%;
}

.gallery-slider__wrapper {
  position: relative;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery-arrow__left {
  left: -34px;
}

.gallery-arrow__right {
  right: -34px;
}

@media (max-width: 1300px) {
  .gallery {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .gallery-title {
    margin-bottom: 40px;
  }
  .gallery-arrow {
    z-index: 2;
    top: auto;
    bottom: -10px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .gallery-arrow__left {
    left: 0;
  }
  .gallery-arrow__right {
    right: 0;
  }
}

@media (max-width: 800px) {
  .gallery {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  .gallery-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .gallery {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .gallery-title {
    margin-bottom: 20px;
  }
}

.catalog {
  padding-bottom: 120px;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 95px;
}

@media (max-width: 1100px) {
  .catalog {
    padding-bottom: 80px;
  }
  .catalog-list {
    grid-gap: 40px 70px;
  }
}

@media (max-width: 800px) {
  .catalog {
    padding-bottom: 60px;
  }
  .catalog-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 50px;
  }
}

@media (max-width: 500px) {
  .catalog {
    padding-bottom: 40px;
  }
  .catalog-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px 50px;
  }
}

.contacts {
  padding-bottom: 60px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-main {
  width: 100%;
  max-width: 360px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-title {
  margin-bottom: 50px;
}

.contacts-address {
  font-weight: 300;
  margin-bottom: 15px;
  max-width: 280px;
}

.contacts-schedule {
  color: #565656;
  margin-bottom: 25px;
}

.contacts-phone {
  color: #F18823;
  margin-bottom: 10px;
}

.contacts-email {
  color: #F18823;
}

.contacts-map {
  width: 100%;
  height: 350px;
  border: 1px solid #FF3333;
}

@media (max-width: 1100px) {
  .contacts {
    padding-bottom: 50px;
  }
  .contacts-main {
    margin-right: 20px;
  }
  .contacts-title {
    margin-bottom: 40px;
  }
  .contacts-address {
    margin-bottom: 10px;
  }
  .contacts-schedule {
    margin-bottom: 20px;
  }
  .contacts-map {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .contacts {
    padding-bottom: 40px;
  }
  .contacts-main {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .contacts-title {
    margin-bottom: 30px;
  }
  .contacts-map {
    height: 300px;
  }
  .contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .contacts {
    padding-bottom: 30px;
  }
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.card-slider__wrapper {
  grid-column: 5 span / auto;
}

.card-main {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.card-slider {
  margin-bottom: 25px;
}

.card-slider__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #fff;
}

.card-slider__item-sizer {
  padding-bottom: 90%;
}

.card-thumbs__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: .3s box-shadow;
  transition: .3s box-shadow;
  background-color: #fff;
}

.card-thumbs__item:hover, .card-thumbs__item.swiper-slide-thumb-active {
  -webkit-box-shadow: 0px 0px 0px 1px #F18823 inset;
          box-shadow: 0px 0px 0px 1px #F18823 inset;
}

.card-thumbs__item-sizer {
  padding-bottom: 91%;
}

.card-title {
  margin-bottom: 30px;
}

.card-subtitle {
  font-weight: 300;
  margin-bottom: 50px;
}

.card-name {
  margin-bottom: 15px;
}

.card-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
}

.card-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-quantity {
  border: 1px solid #F18823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
}

.card-input {
  height: 100%;
  background: transparent;
  text-align: center;
  margin: 0 10px;
  max-width: 100px;
}

.card-amount {
  cursor: pointer;
}

.card-profile {
  margin-bottom: 25px;
}

.card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.card-list__item {
  text-align: center;
  color: #565656;
  border: 1px solid #BABABA;
  cursor: pointer;
  -webkit-transition: .3s border-color, .3s color;
  transition: .3s border-color, .3s color;
  padding: 8px 16px;
}

.card-list__item:hover, .card-list__item.active {
  border-color: #F18823;
  color: #090909;
}

.card-select {
  width: 100%;
  position: relative;
}

.card-select__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 8px 16px;
  border: 1px solid #BABABA;
  cursor: pointer;
  color: #090909;
  -webkit-transition: .3s border-color;
  transition: .3s border-color;
}

.card-select__top::after {
  position: absolute;
  display: block;
  content: '';
  background-image: url(../img/card/arrow_down.svg);
  width: 7px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.card-select__main {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  border: 1px solid #F18823;
  border-top: none;
  padding: 8px 16px 8px 16px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity, .3s visibility;
  transition: .3s opacity, .3s visibility;
  overflow: auto;
  pointer-events: none;
  background-color: #F5F5F5;
}

.card-select__item {
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.card-select__item:last-child {
  margin-bottom: 0;
}

.card-select__item:hover, .card-select__item.active {
  color: #F18823;
}

.card-select.active .card-select__top {
  border-color: #F18823;
}

.card-select.active .card-select__main {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media (max-width: 1100px) {
  .card-main {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
  .card-slider {
    margin-bottom: 20px;
  }
  .card-title {
    margin-bottom: 25px;
  }
  .card-subtitle {
    margin-bottom: 40px;
  }
  .card-name {
    margin-bottom: 10px;
  }
  .card-bottom {
    grid-gap: 20px;
    margin-bottom: 50px;
  }
  .card-profile {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-title {
    margin-bottom: 20px;
  }
  .card-subtitle {
    margin-bottom: 30px;
  }
  .card-bottom {
    grid-gap: 15px;
    margin-bottom: 30px;
  }
  .card-profile {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .card-subtitle {
    margin-bottom: 20px;
  }
  .card-bottom {
    margin-bottom: 20px;
  }
  .card-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .card-bottom {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .card-btn {
    width: 100%;
  }
  .card-input {
    width: 100px;
  }
}

@media (max-width: 350px) {
  .card-input {
    width: 80px;
  }
}
