.item
    &-img
        background-repeat: no-repeat
        background-position: right top
        background-size: contain
        border: 1px solid $outlineColor
        background-color: #fff
        margin-bottom: 30px
        &__sizer
            padding-bottom: 88%
    &-title
        margin-bottom: 10px
    &-text
        color: $colorInfo
        margin-bottom: 10px
    &-specs
        color: $colorInfo