.gallery
    padding-top: 60px
    padding-bottom: 120px
    &-title
        margin-bottom: 50px
    &-item
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        &__sizer
            padding-bottom: 100%
    &-slider
        &__wrapper
            position: relative
    &-arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        &__left
            left: -34px
        &__right
            right: -34px

@media (max-width: 1300px)
    .gallery
        padding-top: 50px
        padding-bottom: 90px
        &-title
            margin-bottom: 40px
        &-arrow
            z-index: 2
            top: auto
            bottom: -10px
            transform: translateY(100%)
            &__left
                left: 0
            &__right
                right: 0

@media (max-width: 800px)
    .gallery
        padding-bottom: 60px
        padding-top: 40px
        &-title
            margin-bottom: 30px

@media (max-width: 500px)
    .gallery
        padding-top: 30px
        padding-bottom: 50px
        &-title
            margin-bottom: 20px