.card
    &-container
        display: grid
        grid-template-columns: repeat(12, 1fr)
        grid-gap: 30px
    &-slider
        &__wrapper
            grid-column: 5 span / auto
    &-main
        grid-column: 7 / 13
    &-slider
        margin-bottom: 25px
        &__item
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            background-color: #fff
            &-sizer
                padding-bottom: 90%
    &-thumbs
        &__item
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            cursor: pointer
            transition: .3s box-shadow
            background-color: #fff
            &:hover, &.swiper-slide-thumb-active
                box-shadow: 0px 0px 0px 1px $colorLink inset
            &-sizer
                padding-bottom: 91%
    &-title
        margin-bottom: 30px
    &-subtitle
        font-weight: 300
        margin-bottom: 50px
    &-name
        margin-bottom: 15px
    &-bottom
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 30px
        margin-bottom: 60px
    &-final
        display: flex
    &-quantity
        border: 1px solid $colorLink
        display: flex
        align-items: center
        padding: 0 8px
    &-input
        height: 100%
        background: transparent
        text-align: center
        margin: 0 10px
        max-width: 100px
    &-amount
        cursor: pointer